@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'DSEG7MoidernMini-Italic';
    src: url('/src/assets/fonts/DSEG7ModernMini-Italic.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Universal */
body {
    display: flex;
    justify-content: flex-start;
    background-color: gray;
    font-family: 'Open Sans';
}

.gradient_light {
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}